{% extends "base.html" %}

{% block head_title %} {{ instance.title }} | {{ block.super }} {% endblock head_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h2>{{ title }}</h2>
    <div>
        <p><i>Опубликованно: {{ instance.timestamp }} Обновленно: {{ instance.updated }}</i></p>
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive">
        {% endif %}
        <p>{{ instance.content | linebreaks }}</p>
    </div>
    
 
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
    
    <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">Share on Twitter</a>
    
    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Гугле</a>
    
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?94" charset="windows-1251"></script>

    <!-- Put this script tag to the place, where the Share button will be -->
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
    --></script>
       
</a>
</div>
{% endblock %}

